<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBmh0VC2kUOB9ml5TXeSIR22GIdP72dLkA</string>
	<key>GCM_SENDER_ID</key>
	<string>170360365765</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.scrubbrllc.scrubbr.scrubbrpro.scrubbrpro</string>
	<key>PROJECT_ID</key>
	<string>scrubbr-portal</string>
	<key>STORAGE_BUCKET</key>
	<string>scrubbr-portal.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:170360365765:ios:3938641f6437ae2aa1c6ac</string>
	<key>DATABASE_URL</key>
	<string>https://scrubbr-portal-default-rtdb.firebaseio.com</string>
</dict>
</plist>